
.leftbutton{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 136, 255, .5);
	text-align: center;
	border-radius: 25px;
	top: 50%;
	}

.rightbutton{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 136, 255, .5);
	text-align: center;
	right: 0;
	top: 50%;
	border-radius: 25px;
}
.dots{
    height: 50px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
	bottom: 0;
    
}
.dot{
    height: 30px;
    width: 30px;
    margin: 20px;
    border-radius: 25px; 
    background-color: rgba(0, 136, 255, .5);
}
.dot:hover{
    background-color: red;
}
.rightbutton:hover{
    background-color: red;
}
.leftbutton:hover{
    background-color: red;
}

.filtered{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: -1;
}
.blur{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}
.grayscale{
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
.sepia{
	-webkit-filter: sepia(100%);
	filter: sepia(100%)  
}
.brightness{
	-webkit-filter: brightness(2);
	filter: brightness(2);
}
.invert{
	-webkit-filter: invert(30%);
	filter: invert(30%);
}



