.imgBlock{
    width: 99,9%;
    height: 600px;
    background: url(..//img/5.jpg);
    overflow: hidden;
    position: relative;
    border: 5px solid rgba(0, 136, 255, .7);
    }

.dots{
    height: 50px;
    width: 100%;
    position: absolute;
    display: flex;
    margin-top: 550px;
    align-items: center;
    justify-content: center;
    
}

.dot{
    height: 30px;
    width: 30px;
    margin: 20px;
    border-radius: 25px; 
    background-color: rgba(0, 136, 255, .7);
}
.dot:hover{
    background-color: red;
}
